@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: hsl(215, 16%, 47%);
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: hsl(210, 40%, 98%);
}
::-webkit-scrollbar-thumb {
  background: hsl(215, 20%, 65%);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(215, 16%, 47%);
}
